<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    
    <listeners>
        <listener class-name="com.tutorialsninja.listeners.MyListeners" />
    </listeners>
    
    <test verbose="2" name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tutorialsninja.tests.LoginTests">
                <methods>
                    <include name="verifyLoggingUsingValidCredentialTest"/>
                </methods>
            </class>
            <class name="com.tutorialsninja.tests.RegisterTests">
                <methods>
                    <include name="verifyRegisteringByProvidingOnlyMandatoryFields"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" name="Firefox Tests">
        <parameter name="browser" value="firefox"/>    
        <classes>
            <class name="com.tutorialsninja.tests.LoginTests">
                <methods>
                    <include name="verifyLoggingUsingValidCredentialTest"/>
                </methods>
            </class>
            <class name="com.tutorialsninja.tests.RegisterTests">
                <methods>
                    <include name="verifyRegisteringByProvidingOnlyMandatoryFields"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
